* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	background-color: #f7f4f4;

}

a {
	color: #c9bfbf;
	text-decoration: none;
}

li {
	padding: 5px;
}
button{
	cursor: pointer;
}
input{
	text-align: center;
}
.container {
	position: relative;
	margin: 0;
	min-height: 100%;
}

.header {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	/*background-color: #494747	;*/
	background-color: #554a4a;
	align-items: end;
	z-index: 1;
}

.logo {
	padding-left: 10px;
}

.logo p {
	font-size: 48px;
	margin: 0;
	color: rgb(177, 164, 164);
	text-shadow: 3px 3px #5e5f60;
}

span {
	font-size: 30px;
	position: absolute;
	top: 17px;
	left: 80px;
	color: #757070;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin: 0px 0 6px 0;
	margin-left: 105px;
}

.item-menu {
	display: flex;
	align-items: center;
	list-style-type: none;
	margin: 0 10px;
	width: 180px;
	border-radius: 5px;
	border:solid 1px #282a2a;
	color: #c9bfbf;
	justify-content: center;
	align-items: center;
	height: 25px;
	position: relative;
	/* Добавлено для правильного позиционирования выпадающего меню */
}
.item-menu:hover{
	border-color: #3de0e0;
}
.item-menu p {
	margin: 0;
	text-align: center;
}

.item-menu img {
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
}

.dropdown {
	position: relative;

}

.menu-item {
	cursor: pointer;
	/* Указатель при наведении */
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;

}
.menu-item img{
	width: 25px;
	height: 25px;
}

.menu-item p {
	padding: 10px;

}

.sub-item {
	cursor: default;
	/* Указатель при наведении */
	opacity: 0;
	/* Начальное состояние */
	max-height: 0;
	/* Начальная высота */
	overflow: hidden;
	/* Скрываем переполнение */
	transition: opacity 0.7s ease, max-height 0.7s ease;
	/* Плавные переходы */
	position: absolute;
	padding: 10px 20px;
	margin: -5px;
	top: 51px;
	background-color: rgba(73, 72, 72, 0.8);
	color: white;
	border-radius: 5px;
	width: 170px;

}

.sub-item.show {
	opacity: 1;
	/* Полная видимость */
	max-height: 500px;
	/* Устанавливаем максимальную высоту для показа */
}

.sub-sub-item {

	display: none;
	/* Скрываем подпункты изначально */
	transition-duration: 0.8s;
	color: rgb(137, 135, 132);
}

a:hover {
	color: #a42828;
}

/* Показываем подменю при наведении на главный пункт */
.menu-item:hover+.sub-item {
	display: block;
	opacity: 1;
	/* Полная видимость */
	max-height: 500px;
	/* Устанавливаем максимальную высоту для показа */

}

/* Показываем подпункты при наведении на пункт */
.item:hover .sub-sub-item {
	display: block;
}

.sub-item:hover {
	opacity: 1;
	/* Полная видимость */
	max-height: 500px;
	/* Устанавливаем максимальную высоту для показа */

}

.content {
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 40px;
	padding-top: 55px;
}



.footer {
	position: fixed;
	background-color: #888383;
	height: 60px;
	left: 0;
	bottom: 0;
	width: 100%;
}

.addata {
	color: #5e5959;
	background-color: #888383;
	padding: 30px;
	width: 600px;
	height: 400px;
	position: absolute;
	top: 17%;
	left: 25%;
	text-align: center;
	box-shadow: 5px 5px 5px rgb(177, 164, 164);
}
.addemployee{
	height: 430px;
}
.form-content{
	margin:0 30px;
	}
.form-content input {
	display: block;
	margin: 15px auto;
	width: 100%;
	height: 30px;
	border-radius: 5px;
}
.content-checkbox{
	width: 100%;
	display: flex;
	justify-content:space-between;
	padding: 5px 0;
}

.addata form {
	display: block;
	align-items: center;
	padding: 30px;
}

.addata button {
	margin-top: 40px;
	padding: 10px;
	width: 80%;
	border-radius: 5px;
	transition: 0.3s;
	font-size: 15px;
}
.addemployee input{
	margin: 10px auto;
}
.addemployee form{
	padding: 15px;
}
.addemployee select{
	width: 50%;
}
.addemployee button{
	margin-top: 20px;
}
.content-checkbox select{
	width: 80%;
	height: 25px;
	border-radius: 5px;

}
.form {
	padding: 5px;
	background-color: #fdf9f9;
	border-radius: 5px;
}

.footer-navigation  {
min-width: 100px;
}

.nav-content{
	display: flex;
	flex-direction: row;
}

.item-nav {
	margin: 2px;
	padding: 2px;
}

.item-nav button {
	background-color: transparent;
	border: 0;
}

.nav-page {
	display: flex;
	flex-direction: row;
}
.nav-page button{
	padding:0 5px;
	margin:0 5px;;
}
.edit-column{
	max-width: 30px; /* Фиксированная ширина для колонки Редактирование */
}
.edit-sell{
	width: 30px;
}
.admin-btn img{
	width: 20px;
	height: 20px;
	object-fit: contain;
}
.statususer{
	display: flex;
justify-content: start;
}

.statususer input{
	height: 20px;
	margin: 0;
}
.err {
	margin-top: 40px;
	color: red;
	font-size: 20px;
	position: absolute;
	top: 15px;
	left: 38%;
	text-align: center;
}

.addata button:hover {
	background-color: #817b7b;
	color: #fff;
	transition: 0.3s;
}

table {
	width: 100%;
	border-top: 7px solid #9e9c9c;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 20px;
	border: 1px solid #9e9c9c;
}

td {
	text-align: left;
	padding: 7px;
	border: 1px solid #9e9c9c;
}
tr:hover{
	background-color: #fff;
}

th {
	text-align: center;
	padding: 7px;
	border: 1px solid #9e9c9c;
}

/* Стиль для модального окна */
.modal {
	text-align: center;
	color: #fff;
	display: none;
	/* Скрыто по умолчанию */
	position: fixed;
	/* Открывается поверх всего */
	z-index: 1;
	/* Поверх других элементов */
	left: 0;
	top: 0;
	width: 100%;
	/* Ширина экрана */
	height: 100%;
	/* Высота экрана */
	background-color: rgba(0, 0, 0, 0.7);
	/* Полупрозрачный фон */
}

.modal input,
.modal select {
	width: 80%;
	height: 30px;
	border-radius: 5px;
	margin: 5px;
}

.modal button {
	margin-top: 10px;
	width: 150px;
	height: 35px;
	border-radius: 5px;
	color: #fff;
	font-size: 20px;
	background-color: #907a7a;
	box-shadow: 5px 5px 5px rgb(78, 75, 75);
	transition: 0.3s;
	cursor: pointer;
	/* Указатель при наведении */
}

.modal button:hover {
	background-color: #5f5858;
	transition: 0.3s;
}

.modal-content {
	background-color: #a89b9b;
	/* фон для содержимого */
	margin: 10px auto;
	/* Центрирование по вертикали */
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	/* Ширина модального окна */
}

.close {
	color: #161515;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: black;
	/* Цвет при наведении */
	text-decoration: none;
	cursor: pointer;
}

.errorDB {
	font-size: 20px;
	color: red;
	padding-top: 2px;
	position: absolute;
	bottom: 0;
	left: 40%;
}

/*-----------------------------------------------------*/
.footer-content {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.footer-count-entries {
	position: relative;
	border-radius: 5px;
	cursor: pointer;
}

.content-selection {
	display: none;
	/* Скрытие по умолчанию */
	position: absolute;
	/* Абсолютное позиционирование для выпадающего меню */
	background-color: white;
	/* Фоновый цвет */
	border: 1px solid #ccc;
	/* Граница */
	padding: 10px;
	/* Отступы */

	z-index: 1000;
	/* Чтобы блок был выше других элементов */
	top: -180px;
	left: -5px;
	opacity: 0;
	/* Начальная непрозрачность */
	transition: opacity 0.3s ease, visibility 0.3s ease;
	/* Плавный переход */
	visibility: hidden;
	/* Скрытие элемента */

}

.footer {
	font-size: 15px;
}

.selection-item button {
	padding: 2px 50px;
}

.selection-item {}

.start {}

.footer-count-entries:hover .content-selection {
	display: block;
	display: block;
	/* Показать блок при наведении на родителя */
	opacity: 1;
	/* Полная непрозрачность */
	visibility: visible;
	/* Сделать элемент видимым */
}

.content-selection li {
	list-style-type: none;
	margin: 5px 0;
}

